nav {
  height: 100px;
  background-color: lightgrey;
  padding: center;
}

.inline-block {
  display: inline-block;
  padding: center;
}


.left {
height: 500px;
float: left;
background-color: lightblue;
width: 30%;
text-align: center;
}

.right {
height: 500px;
float: right;
width: 70%;
text-align: center;
}

.card {
display: inline-block;
background-color: #C6C6C6;
border-radius: 5px;
height: 200px;
width: 150px;
margin: 35px;
margin-top: 50px;
}

.wrapper {
  float: left;
  height: 1000px;
  width: auto;
  text-align: center;
}

.seperator {
  border-radius: 5px;
  height: 1000px;
  width: auto;
  display: flex;
  position: relative;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #0D0D0D;
  padding: 20px 20px;
}

/* Style the header links */
.header a {
  float: left;
  color: lightgrey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: none;
  color: gray;
}

/* Style the active/current link*/
.header a.active {
  background-color: none;
  color: gray;
}

/* Float the link section to the right */
.header-right {
  height: 50%;
  float: right;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}




/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Hero Image */
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  color: red;
}

body {
  background-color: green;
}

.hero,
.hero-bg,
.content {
  height: 100%;
}

.hero-bg {
  background-image: url('http://via.placeholder.com/1000x300');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  opacity: 1;
}